<%= image_tag "tab_pink.png", id: "pre_tag" %>
<%= link_to image_tag("tab_blue.png"), diaries_path, id: "back_tag" %>

<div id="note_area">
  <div id="pre_content">
    <% if @last_article %>
      <p>
        <b><%= @last_article.updated_at.strftime("%Y年%m月%d日") %></b>
        <b>&nbsp;&nbsp;<%= @last_article.member.user.name %></b>
      </p>
      <p>
        <%= @last_article.content %>
      </p>
    <% end %>
  </div>

  <div id="ring_area">
    &nbsp;
  </div>

  <div id="new_content">
    <%= form_for([@diary, @article]) do |f| %>
      <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% @article.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        わたしの日記<br />
        <%= f.text_area :content, :size => "52x18" %>
      </div>

      <div class="field">
        <%#= f.text_field :member %>
      </div>

      <div>
        <%= f.label :"絵を書く" %>
        <div>
          <canvas id="canvas" width="370" height="130" style="border:1px solid #000000"></canvas>
          <%= f.hidden_field :picture %>
          <%= button_to_function "絵を消す", "javascript:void(0)", :id => "clear_picture" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
