<h1>New article</h1>

<div>
  <%= @last_article.member.user.name %>:
  <%= @last_article.updated_at %>
  <br />
  <div>
  <%= @last_article.content %>
  </div>
</div>
<hr />

<div>
<%= render 'form' %>
</div>

<%= link_to 'Back', articles_path %>

