<%= image_tag "tab_pink.png", id: "pre_tag" %>
<%= link_to image_tag("tab_blue.png"), diaries_path, id: "back_tag" %>

<div id="note_area">
  <div id="pre_content">
    <% if @last_article %>
      <p>
        <b><%= @last_article.updated_at %></b>
        <b><%= @last_article.member.user.name %></b>
      </p>
      <p>
        <%= @last_article.content %>
      </p>
      <p>
        <%= image_tag diary_article_picture_path(@diary, @last_article) %>
      </p>
    <% end %>
  </div>

  <div id="ring_area">
    &nbsp;
  </div>

  <div id="new_content">
      <div class="field">
        わたしの日記<br />
        <div style="width: 400px; height: 250px; border: 1px solid">
        <%= @article.content %>
        </div>
      </div>

      <div>
        <div style="width: 400px; height: 100px; border: 1px solid">
          <%= image_tag diary_article_picture_path(@diary, @article) %>
        </div>
      </div>

      <div class="actions">
        <%= button_to '修正する', edit_diary_article_path(@article.member.diary, @article), method: :get %>
        <%= button_to '次の人へ', diary_article_baton_pass_path(@diary, @article), method: :put %>
      </div>
  </div>
</div>

