<h1><%= current_user.name %>の日記一覧</h1>
<%= current_user.to_yaml %>
<table>
<% @diaries.each do |diary| %>
<% member = diary.members.find_by_user_id(current_user.id) %>
  <tr>
    <td><%= diary.title %></td>
    <td>
      <% diary.users.each do |user| %>
      <%= member.baton == user.id ? '○' : '　' %><%= user.name %><br />
      <% end %>
    </td>
    <td><%= link_to '日記を見る', new_member_articles_path(member) %></td>
    <td><%= link_to 'メンバー追加', edit_diary_path(diary) %></td>
    <td><%= link_to '日記を止める', diary, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新しい日記', new_diary_path %>
