<%= link_to '新しい交換日記を始める', new_diary_path, id: "add_diary_button" %>

<% @diaries.each do |diary| %>
  <% member = diary.members.find_by_user_id(current_user.id) %>
  <div class="diary">
    <div class="notebook">
      <div class="note_title">
        <b><%= link_to diary.title, new_diary_article_path(diary) %></b>
      </div>
      <table class="create_date">
        <tr>
          <th>始めた日</th>
        </tr>
        <tr>
          <td><b><% if diary.articles.present? %><%= diary.articles.first.created_at.strftime("%Y年%m月%d日") %><% else %>(まだ誰も書いていません)<% end %></b></td>
        </tr>
      </table>
    </div>
    <div class="detail">
      【交換メンバー】
      <%#= link_to 'メンバー追加', edit_diary_path(diary) %>
      <br />
      <% diary.users.each do |user| %>
        <table>
          <tr>
            <th width="20px"><% if diary.baton == user.id %><%= image_tag("check_g.png", size: "30x30") %><% else %>&nbsp;&nbsp;&nbsp;<% end %></th>
            <th><%= user.name %></th>
          </tr>
        </table>
      <% end %>
      <%= link_to 'この日記をやめる', diary, confirm: 'Are you sure?', method: :delete %>
    </div>
  </div>
  <br />
<% end %>
